.footer{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.footer>.top{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #8FAABE;
    justify-content: space-between;
    padding: 20px 0;
    padding-top: 36px;
}

.footer>.top>.left{
    width: 300px;
}

.footer>.top>.left>img{
    width: 100%;
}

.footer>.top>.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer>.top>.right>.buttons{
    display: flex;
}

.footer>.top>.right>.buttons>.button{
    color: #241E6B;
    font-weight: 300;
    font-size: 15px;
    margin: 0 16px;
}

.footer>.top>.right>.buttons>.button:hover{
    filter: opacity(0.8);
}

.footer>.top>.right>.links{
    display: flex;
    align-items: center;
}

.footer>.top>.right>.links>.link{
    width: 35px;
    margin: 0 16px;
    height: 35px;
    display: flex;
    background: #F8FBFF;
    justify-content: center;
    align-items: center;
    color: #241E6B;
    border-radius: 50%;
}

.footer>.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 26px 0;
    padding-bottom: 36px;
}

.footer-bt-tx{
    color: #8FAABE;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.footer-bt-tx:hover{
    text-decoration: underline;
}

.footer-bt-tx:first-child:hover{
    text-decoration: underline;
}

.mg-right{
    margin-right: 28px;
  }

@media screen and (max-width: 540px){
    .footer>.top {

        flex-wrap: wrap;
        justify-content: center;
    }

    .footer>.top>.left {
        width: 54%;
        margin-bottom: 16px;
    }

    .footer>.top>.right {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer>.top>.right>.buttons {
        margin-bottom: 20px;
    }

    .footer>.bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer>.bottom>.part{
        margin-bottom: 15px;
    }

}
